[submodule "modules/gfx/external/imgui"]
	path = modules/gfx/external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "modules/gfx/external/murmurhash.c"]
	path = modules/gfx/external/murmurhash.c
	url = https://github.com/jwerle/murmurhash.c.git
